[cpu_util_detailed]
command=/usr/lib/i3blocks/$BLOCK_NAME/$BLOCK_NAME
label=SYS_MONITOR
markup=pango
interval=-2
color=#FF0055
#report_time=5
stats=usr total
#format=%6.2f
#warn=80
usr_color=#fffc58
nice_color=#76C1FF
#sys_color=#fffc58
sys_color=#76C1FF
iowait_color=#FF0055
#irq_color=purple
#soft_color=violet
#steal_color=orange
#guest_color=cyan
#gnice_color=blue
#idle_color=white
total_color=#fffc58

[separator]

[memory]
command=/usr/lib/i3blocks/$BLOCK_NAME/$BLOCK_NAME
interval=10
color=#FFFC58
interval=2
label=MEM

[separator]

[time]
command=/usr/lib/i3blocks/$BLOCK_NAME/$BLOCK_NAME
interval=1
#TZ_FILE=~/.tz
color=#FF0055
background=#000000
STRFTIME_FORMAT= %Y-%m-%d %H:%M 
TZONES=$DEFAULT_TZ,Brazil/East,Australia/Brisbane,Asia/Calcutta
TZ_LABELS=,Brazil,AU,Hyderabad
